extends layouts/base

block content
  h1 Contacts list 
  .todos
    each contact in contacts
      .todo
        .owner
          figure.owner__pic
            img(src= contact.owner.avatarURL)
          p.owner__name= contact.owner.name
        .todo__content
          h3.h3= contact.name
          p.description= contact.phone
          p.duedate= contact.email
